@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  background: black;
  color: white;
  font-family: Arial, sans-serif;
}
.sidebar-scroll::-webkit-scrollbar { display: none; }
.sidebar-scroll { -ms-overflow-style: none; scrollbar-width: none; }